@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  background-color: #111;
  font-family: "Inter", sans-serif;
}

.hero {
  position: relative;
  height: 100dvh;
}

.hero img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  filter: opacity(0.5);
  filter: blur(0.9);
}

.hero>.content-wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  z-index: 3;
}

.hero>.content-wrapper>.content {
  width: 50%;

  text-align: center;
}

.hero>.content-wrapper>.content h1 {
  color: #fff;
}

@media screen and (width <=690px) {
  .hero> .content-wrapper> .content {
    width: 90%;
    text-align: center;
  }
}